<h1>
  Edit newsfeed #<%= @newsfeed.id %>
</h1>

<hr>

<!-- Form newsfeed start -->
<form action="/update_newsfeed/<%= @newsfeed.id %>" method="post">
<!-- Form newsfeed end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @newsfeed.user_id), :class => "form-control") %>
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for profile_id start -->
  <div class="form-group">
    <label for="profile_id">
      Profile
    </label>

    <!-- Input for profile_id start -->
    <input type="text" id="profile_id" name="profile_id" class="form-control" value="<%= @newsfeed.profile_id %>">
    <!-- Input for profile_id end -->
  </div>
  <!-- Label and input for profile_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Update newsfeed
  </button>
</form>

<hr>

<a href="/newsfeeds">
  Go back
</a>
