<h1>
  Edit newsfeed #<%= @newsfeed.id %>
</h1>

<hr>

<form action="/update_newsfeed/<%= @newsfeed.id %>" method="post">


  <div class="form-group">
    <label for="profile_id">
      Profile
    </label>

    <input type="text" id="profile_id" name="profile_id" class="form-control" value="<%= @newsfeed.profile_id %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update newsfeed
  </button>
</form>

<hr>

<a href="/newsfeeds">
  Go back
</a>
