<h1>
  Edit profile #<%= @profile.id %>
</h1>

<hr>

<form action="/update_profile/<%= @profile.id %>" method="post">


  <div class="form-group">
    <label for="total_lift">
      Total lift
    </label>

    <input type="text" id="total_lift" name="total_lift" class="form-control" value="<%= @profile.total_lift %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update profile
  </button>
</form>

<hr>

<a href="/profiles">
  Go back
</a>
